.img{
  opacity: 0.5;
  z-index: -1;
}
.btn{
  position: absolute;
  background-color: #ffffff;
  border-radius: 16.5px;
  border: 1px;
  color: #ffffff;
  top: 35%;
}

.card-title{
  font-family: DINPro;
  font-size: 18.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.97;
  letter-spacing: normal;
  color: var(--greyish-brown);
}

.card{
  margin-top: 30px;
}

.card-subtitle{
  color: #adadad;
}

.percent{
  font-weight: bold;
  color: #37b396;
}

.greenbox{
  width: 70%;
  height: 35px;
  background-color: #ccf5e7;
  margin-left: -1.25rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 13.5px;
  padding-top: 5px;
  padding-left: 1.25rem;
  line-height: 1.33;
}

.right{
  font-size: 13.5px;
  color: #37b396;
}